<!DOCTYPE html>       
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfólio responsivo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/png" href="../static/img/bookshelf_icon-icons.com_54414.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <body>
      <i class='bi bi-list menu-mobile'></i>
    <!--Profile e menu lateral-->
    <aside id='header'>
        <section class='profile'>
            <img src="../static/img/perfil.jpg" alt="Minha foto - Ryomen Sukuna">
            <h1>Ryomen Sukuna</h1>
            <div class='social-links mt-3 text-center d-flex align-items-center'>
                <a target="_blank" href="https://en.wikipedia.org/wiki/Ryomen_Sukuna">
                    <i class="bi bi-facebook"></i>
                </a>
                <a target="_blank" href="https://animebox.net/a-mitologia-por-tras-do-nome-de-sukuna-explicada/">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://www.imdb.com/title/tt12343534/">
                    <i class="bi bi-film"></i>
                </a>
                <a target="_blank" href="https://jujutsu-kaisen.fandom.com/pt-br/wiki/Jujutsu_Kaisen_Wiki">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id='navbar' class='nav-menu'>
            <ul class="nav align-items-left">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house" aria-hidden="true"></i>Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                    <i class="bi bi-person" aria-hidden="true"></i>Sobre
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                    <i class="bi bi-list-check" aria-hidden="true"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo">
                    <i class="bi bi-file-earmark" aria-hidden="true"></i>Currículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio">
                    <i class="bi bi-collection" aria-hidden='true'></i>Portfólio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato">
                    <i class="bi bi-envelope" aria-hidden='true'></i>Contato</a>
                </li>
                
              </ul>
        </nav>

    </aside>
    <!--Seção inicial do nosso portifólio-->
    <main id="main">
      <!--Seção Inicio-->
      <section id="inicio" class="row m-0 p-0">
        
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class='text-white text-shadow'>Ryomen Sukuna</h2>
          <span id="subtitle" class="text-white text-shadow">Rei das Maldições, Vilão</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Arraste para mais</a>
          </div> 
        </div>

      </section>
      <!--Seção Sobre-->
      <section class="container mt-5" id="sobre">
        <!--Texto introdutório - Sobre-->
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">
              Sobre
            </h2>
            <p>
              Saudações, mortais curiosos que vagam por este canto da internet. Permitam-me apresentar-me, pois sou Ryomen Sukuna, um nome que ecoa através dos tempos, carregando consigo o peso de poder maldito e o fascínio das sombras. Nascido em uma era de escuridão e magia, fui um feiticeiro de destaque, cujas ambições desafiaram o equilíbrio entre humanos e maldições. Hoje, sou conhecido como o ser ancestral amaldiçoado com duas faces, uma dualidade que reflete meus propósitos divergentes: a busca implacável pelo poder absoluto e a irresistível vontade de desafiar os limites do mundo das maldições. Se desejam adentrar meu mundo, estejam preparados para explorar os recantos sombrios e imprevisíveis que residem entre o domínio da magia e a alma atormentada de um amaldiçoado.
            </p>
          </div>
        </div>
          <div class="row mt-4">
            <div class="col-md-4">
              <img class="img-fluid shadow" src="../static/img/perfil.jpg" 
              alt="Foto do Rei das Maldições" 
              data-anime="left">
            </div>
            <div class="col-md-8" data-anime="right">
              <h3>Vilão da obra Jujutsu Kaisen</h3>
              <p> Atualmente estou no corpo de Megumi Fushiguro. Um usuário da técnica das 10 sombras. Técnica essa que me interessou desde o momento em que a vi. 
                Agora só falta eu matar de vez o Satoro Gojo, os feiticeiros Jujutsu e aquele muleque.
              </p>
              <div class="row mt-3 mb-3">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">
                      <b>Idade:</b><br/>
                      <span class="font-weight-normal"> 
                        aproximadamente 1000 anos</span>
                    </li>
                    <li class="list-group-item">
                      <b>Companheiros:</b></br>
                       <span class="font-weight-normal"> 
                        • Kenjaku</br>• Uraume</span>
                    </li>
                    <li class="list-group-item">
                      <b>País:</b><br/>
                      <span class="font-weight-normal"> 
                        Japão</span>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">
                      <b>Hobbies:</b><br/>
                      <span class="font-weight-normal"> 
                        Não tem</span>
                    </li>
                    <li class="list-group-item">
                      <b>Fanbase:</b><br/>
                      <a href="https://aminoapps.com/c/otanix/page/item/ryomen-sukuna/l4Yo_qktGIX5n7kjYxZDkrKJgQleaL1qgG" 
                        target="_blank"
                        class="fw-lighter text-decoration-none link-dark">
                        Amino
                      </a></li>
                  </ul>
                </div>
              </div>
              <p>
                Sou conhecido como um ser maligno e sádico, fui derrotado no passado e tive minha alma selada em 20 dedos, de minhas próprias mãos (sim, 20, já que em minha forma original possuo 4 braços). O muleque estava desesperado para salvar seus amigos e nisso acabou comendo um dos meus dedos, me trazendo a vida hahahaha
              </p>

            
            </div>
          </div>
      </section>
      <!--Seção Habilidades-->
      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5" data-anime="right">
	          <h2 class="pt-5">Habilidades</h2>
	          <p>
              Permita-me, humildemente, elucidar as habilidades que me distinguem como uma obra-prima sinistra e imponente
            </p>
            
            <div class="row">
              <div class="col-md-6">
                
                <p class="mt-3 mb-0"><b>Capacidades físicas</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  90%
                  </div>
                </div>

                <p class="mt-3 mb-0"><b>Energia Amaldiçoada</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                  90%
                  </div>
                </div>
                <p class="mt-3 mb-0"><b>Contrato Amaldiçoado</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  50%
                  </div>
                </div>

              </div>
              <div class="col-md-6">

                <p class="mt-3 mb-0"><b>Técnica Inata</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  100%
                  </div>
                </div>
                <p class="mt-3 mb-0"><b>Expansão de Domínio</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                  98%
                  </div>
                </div>

              </div>        
            </div>
            <hr class="w-50 me-auto ms-auto">
            <div class="row">
              <div class="col-md-6">
                
                <p class="mt-3 mb-0"><b>Maestria em Manipulação</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  70%
                  </div>
                </div>

                <p class="mt-3 mb-0"><b>Sadismo</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  100%
                  </div>
                </div>
                <p class="mt-3 mb-0"><b>Crueldade Calculada</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  100%
                  </div>
                </div>

              </div>
              <div class="col-md-6">

                <p class="mt-3 mb-0"><b>Inteligência Tática</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  70%
                  </div>
                </div>
                <p class="mt-3 mb-0"><b>Domínio da Intriga</b></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" 
                  style="width:98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                  98%
                  </div>
                </div>

              </div>        
            </div>
        </div>
      </section>
      <!--Seção Curriculo-->
      <section id="curriculo" class="mt-5 cv">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          <div class="row">
            <div class="col-md-6" data-anime="down">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item">
                <h4>Feiticeiro Jujutsu</h4>
                <h5>Era de Heian</h5>
                <p><em>Jujutsu Kaisen</em></p>
                <p>Antes de me tornar o rei das maldições
                  eu era um feiticeiro jujutsu muito poderoso
                </p>
              </div>
              <div class="cv-item">
                <h4>Rei das Maldições</h4>
                <h5>Era de Heian</h5>
                <p><em>Jujutsu Kaisen</em></p>
                <p>Por representar uma ameaça para a humanidade eu fui derrotado tendo minha energia amaldiçoada selada por outros feiticeiros jujutsu de meu tempo.
                </p>
              </div>
            </div>
            <div class="col-md-6" data-anime="up">
              <h3 class="cv-title">Profissional</h3>
              <div class="cv-item">
                <h4>Objeto Amaldiçoado</h4>
                <h5>Tempos atuais</h5>
                <p><em>Jujutsu Kaisen</em></p>
                <p>Um garoto chamado Yuji Itadori encontra um dos meus dedos e por causa de circunstâncias extraordinárias é obrigado a engoli-lo, se tornando assim o meu receptáculo
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Seção Portfólio-->
      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime='left'>
          <h2 class="pb-4">Portfólio</h2>
          <div id="carouselPortfolio" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <!--Aqui é o número de páginas do nosso carousel. Caso precise de mais é só adicionar-->
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <!--Aqui ficará o conteudo do nosso carousel. Se quiser aumentar o número de slides no carousel, faça as modificações necessárias no carousel-item-->
            <div class="carousel-inner p-5">
              <!--Adicione cards aqui. São eles que irão conter as informações dos seus projetos-->
              <div class="carousel-item active" data-bs-interval="10000">
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/Shibuya.jpeg" alt="O Incidente de Shibuya" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">O Incidente de Shibuya</h5>
                        <p class="card-text">Este arco apresenta eventos cruciais e reviravoltas emocionantes na trama, proporcionando aos fãs uma experiência cinematográfica repleta de ação, mistério e emoção.</p>
                        <div class="d-flex justify-content-center">
                        <a href="https://sobresagas.com.br/jujutsu-kaisen-7-coisas-sobre-o-arco-incidente-de-shibuya/" target="_blank" class="btn btn-outline-primary">
                          <i class="bi bi-link-45deg"></i>
                        </a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/R.jpeg" alt="Feto Amaldiçoado" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">Feto Amaldiçoado</h5>
                        <p class="card-text">Itadori, Fushiguro e Kugisaki são enviados a um reformatório, onde acredita-se que um feto amaldiçoado despertou. É uma missão muito além de suas capacidades, mas não havia mais ninguém para encarar o oponente.</p>
                        <div class="d-flex justify-content-center">
                        <a href="https://www.crunchyroll.com/pt-br/watch/G6KKD9D36/curse-womb-must-die" target="_blank" class="btn btn-outline-primary">
                          <i class="bi bi-link-45deg"></i>
                        </a></div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/sukuna no fushiguro.jpeg" alt="Final do Jogo do Abate" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">Final do Jogo do Abate</h5>
                        <p class="card-text">Ao ver Fushiguro abalado, Sukuna aproveita para escapar do corpo de Itadori, que para ele era uma prisão</p>
                        <div class="d-flex justify-content-center">
                        <a href="https://www.youtube.com/watch?v=MlNua7o-6R4" target="_blank" class="btn btn-outline-primary">
                          <i class="bi bi-link-45deg"></i>
                        </a></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/gojo vs sukuna.jpeg" alt="Gojo Vs. Sukuna" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">Gojo Vs. Sukuna</h5>
                        <p class="card-text">Atualmente o resultado desta luta ainda é incerto</p>
                        <div class="d-flex justify-content-center">
                        <a href="https://www.wakanosekai.com.br/2023/07/jujutsu-kaisen-gojo-vs-sukuna.html" target="_blank" class="btn btn-outline-primary">
                          <i class="bi bi-link-45deg"></i>
                        </a></div>
                      </div>
                    </div>
                  </div>
              </div>
            
            </div>
          </div>
            <!--Aqui temos os botões das setas "<-", "->", não precisamos mexer nelas-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          
        </div>
      </section>
      <!--Seção Contato-->
      <section class="pt-5 pb-5" id="contato">

        <div class="container mb-5">
            <h2 class='pt-3 pb-3'>Contato</h2>

            <div class="row">

                <div class="col-md-5" data-anime="up">
                    <div class="card p-5 shadow border-0">
                        <div class="endereco">
                            <h4><i class="bi bi-geo-alt"></i> 
                              Paradeiro:</h4>
                            <p>Algum lugar do Japão</p>
                        </div>

                        <div class="email">
                            <h4><i class="bi bi-envelope"></i>
                               Email:</h4>
                            <p>uraume@gmail.com</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51862.54740663452!2d139.6514161189038!3d35.66692471568783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cb2eb3108d1%3A0xf11cd9b2395b6677!2zU2hpYnV5YSwgVMOzcXVpbywgSmFww6Nv!5e0!3m2!1spt-BR!2sbr!4v1693688186318!5m2!1spt-BR!2sbr" 
                        width="400" height="300" style="border:0;" 
                        allowfullscreen="" loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade" class="w-100">
                        </iframe>
                    </div>
                </div>

                <div class="col-md-7 mt-5 mt-md-0" data-anime="down">
                    <div class="card p-5 h-100 shadow border-0">

                        <form class="row g-3" action='/send' method="POST">
                            <div class="col-md-6">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="nome" name='nome'
                                    placeholder='Digite seu nome' required>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name='email'
                                    placeholder='Digite seu email' required>
                            </div>

                            <div class="col-12">
                                <label for="mensagem" class="form-label">Mensagem:</label>
                                <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                    placeholder="Digite sua mensagem" required></textarea>
                            </div>


                            <div class="col-12 d-flex justify-content-center mt-4">
                                <button id='btn-enviar' type="submit" class="btn btn-primary">
                                  Enviar mensagem</button>
                            </div>
                            <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                              <span class="spinner-border spinner-border-sm"
                              role="status" aria-hidden="true"></span> 
                              Enviando...
                            </button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

      </section>
<!--trecho da documentação do flash messages - Flask-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
      <div id='alerta' role="alert"
       class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close">
        </button>
      </div>
      {% endfor%}
      {% endif%}
      {% endwith%}
    </main>
    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Dev eremita</strong>
        </div>
      </div>
    </footer>
    
    

        <script src="../static/bootstrap/js/bootstrap.bundle.min.js" ></script>
        <script src="../static/script.js"></script>
    </body>
</html>